import { TestBed } from '@@angular/core/testing';
import { @(Model.name)Service } from './@Model.name service';

describe('@(Model.name)Service', () => {
  beforeEach(() => TestBed.configureTestingModule({}));

  it('should be created', () => {
    const service: @(Model.name)Service = TestBed.get(@(Model.name)Service);
    expect(service).toBeTruthy();
  });
});