<body>
	@using System.Text.RegularExpressions;
	@functions{
	public string dasherize(string dashed){
	return Regex.Replace(dashed,@"/[A-Z]/g", m => "-" + m.ToString().ToLower()).ToString();
	}
	}
	<h1>@Model.service</h1>
	@if(Model.searchField)
	{
	<div>Jutro je jutro je</div>
	}
	<p>@Model.viewMode</p>
	<h1>@dasherize(Model.name)</h1>
</body>
