@using Humanizer;
@functions{
    public string dasherize(string dashed)
    {
        return dashed.Underscore().Dasherize();
    }
    public string classify(string classified)
    {
        return classified.Pascalize();
    }
}
import { @classify(Model.name)Pipe } from './@(dasherize(Model.name)).pipe';

describe('@classify(Model.name)Pipe', () => {
  it('create an instance', () => {
    const pipe = new @classify(Model.name)Pipe();
    expect(pipe).toBeTruthy();
  });
});
